page-about {

}

.dynamicHeader{
   padding: 0px!important;
}
.hotNav .card-ios{
    margin: 5px!important;
    width: calc(100% - 9px)!important;
}
.hotLists{
    margin:-9px!important;
}
.hotIcon{
    font-size:12px!important;
    margin-top: 5px !important;
    margin-left:5px!important;
    min-height: 1px!important;
    margin-right:20px!important;
}
.hotNav .card-content-ios{
    padding:1px 0px 8px 3px!important;
    font-size: 12px!important;
}
.hotI  ion-avatar img{
    width:25px;
    height: 25px;
}
.hotI ion-avatar{
    margin: 11px 0px 2px 0px!important;
}
.attentionContent ion-label{
    white-space: normal!important;
}